@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

*{
    font-family:sans-serif;
    
   
}




/* share-style */

.container{
    width: 100%;
    max-width: 1140px;
    margin: 0 auto;

}

.primary-color{
    color: rgba(253, 110, 10, 1);
}

.dark2{
    color: rgb(71, 71, 71);
}

.btn{
    background-color: rgb(253, 110, 10);
    color: white;
    font-size: 1.25rem;  
    font-weight: 700; 
    border: none;
    padding:  1.125rem 2.1875rem;
    border-radius: 0.3125rem;

}

/* nav bar */

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-title{
    font-weight: 50rem;
    font-size: 2.8125rem;
}

nav ul li{
    list-style: none;
}

ul li  a{
    text-decoration: none;
    font-size: 1.25rem;
    margin-right: 3.1875rem;
    
}

nav ul{
    display: flex;
    align-items: center;
    
}

/* banner-styles */

.banner-greetings{
         font-weight: 37.5rem;
         font-size: 2.8125rem;
         color: rgb(71, 71, 71);
}

.banner-title{
    font-size: 5.3125rem;
    font-weight: 700;
    color: rgb(24, 24, 24);
}


.banner-pera{
    font-size:  1.125rem;
    font-weight: 400;
    color: rgb(117, 117, 117);
}

.banner-pro-pic{
    width: 36.5rem;
    height: 42.25rem;
}

.banner{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 2.375rem 0 23.375rem;
}

.banner-text{
    max-width: 36.5625rem;
}
.header{
    background-image: url("./images/developer.png"), url("./images/header_bg.png");
    background-repeat: no-repeat;
    background-position: top left, bottom right;
    background-color: rgb(255, 248, 243);
    
}